<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  
  <title>The Flatiron School - Programmers you should know</title>
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
  <link rel="stylesheet" href="css/style.css" />
  <script src="js/modernizr-transitions.js"></script>
  <script src="js/jquery.infinitescroll.min.js"></script>
  <script src="jquery.js" type="text/javascript"></script>
  <script src="jquery.lazyload.js" type="type/javascript"></script>
  
  <!-- scripts at bottom of page -->

</head>
<body class="homepage ">
  
  <section id="content">
    
    <div id="container" class="transitions-enabled clearfix">
  
    <div class="item big-text col2">
      <br/>
      The Flatiron School<br />
      Programmers you should know...<br />
      <br/>
    </div>

  <% @person.programmers.each do |s| %>
    <div class="item">
              <a href="<%= s[4] %>">
                <% if !s[5].nil? %>
                <img class="lazy" src="img/placeholder.jpg" width="200px;" data-original="<%= s[5] %>">
                <% end %>
              <h2><%= s[1] %></h2></a>
              <p><%= s[2] %></p>
    <div class="clear"></div>
    </div>
  <% end %>
   
</div> <!-- #container -->

<script src="js/jquery-1.7.1.min.js"></script>
<script src="jquery.masonry.min.js"></script>
<script src="js/jquery.lazyload.js" type="text/javascript"></script>
<script type="text/javascript">


var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 240,
    isAnimated: true,
    animationOptions: {
    duration: 150,
    easing: 'linear',
    queue: true
    }  
  });
});



$("img.lazy").lazyload();

$(window).load(function(){
  $('#container').masonry({
  });
});
</script>

    <footer id="site-footer">
      By David Baker &amp; Akiva Leeder at <a href="http://flatironschool.com">The Flatiron School</a>
    </footer>
    
  </section> <!-- #content -->

</body>
</html>